---
layout: basic
---
<h2>Previous Articles</h2>
<dl id="articles">
	{% for post in site.posts %}
	
	<dt class="title {% cycle 'title':'high','low' %}"><a href="{{ post.url }}">{{ post.title }}</a> from {{ post.date | date:"%B %d, %Y" }}</dt>
    <dd class="comment {% cycle 'comment':'high','low' %}"><a href="{{ site.url }}{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.id }}">Comments</a></dd>
    <dd class="content {% cycle 'content':'high','low' %}">{% if post.description %}{{ post.description }}{% else %}{{ post.content | markdownify | truncatewords:25 }}{% endif %}</dd>
	{% endfor %}
</ul>
<script type="text/javascript">
    var disqus_shortname = 'beyond-syntax';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
