body,html{
	margin:0 10px;
	padding:0;
	font-family:sans-serif;
}
header{
	padding:5px 1%;
	border-bottom:2px solid black;
}
header h1, header h2{
	margin:0;
	padding:0;
}
nav{
	padding:5px 1%;
	text-align:center;
	border-bottom:2px solid black;
}
nav a{
	display:inline-block;
	width:120px;
}
nav ul{
	margin:0;
	padding:0;
	list-style:none;
}
nav li{
	display:inline;
	margin:0;
	padding:0;
}
#content{
	float:left;
	width:68%;
	padding:4px 1%;
}
#sidebar{
	float:right;
	width:28%;
	padding:4px 1%;
	border-left:1px solid black;
}
#sidebar h2{
	margin:0;
}
#sidebar p, #sidebar ul{
	font-size:80%;
}
#sidebar address{
	font-size:75%;
	margin-bottom:4px;
}
#sidebar img{
	margin:0;
	padding:0;
	padding-left:4px;
	border:0;
}
.center{
	margin:0 auto;
	text-align:center;
}
footer{
	clear:both;
	padding:15px 1%;
}
footer p{
	margin:0;
}
h1{
	margin:0;
}
h2,h3{
	margin:0 0 1em;
}
#post > h2{
	margin-bottom:4px;
}
pre{
	overflow:auto;
	padding:5px;
	border:1px solid black;
}
blockquote{
	padding:5px 10px;
	background-color:#eee;
}
#articles .title{
	font-size:120%;
	padding:5px;
}
#articles .content{
	margin-left:0;
	padding:0 5px 5px 3em;
	margin-bottom: 10px;
}
#articles .high,#articles .low{
	border-left:5px solid black;
}
