<!doctype html>
<html>
	<head>
		<title>{% if page.title %}{{ page.title | strip_html }} | {% endif %}{{ site.title }} | Michael J. Schultz</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link rel="stylesheet" href="/static/basic.css" type="text/css" />
		<link rel="stylesheet" href="/static/pygments.css" type="text/css" />
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-523287-2']);
			_gaq.push(['_setDomainName', '.beyond-syntax.com']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
		<header>
		<h1><a href="/">{{ site.title }}</a></h1>
			<h2>Looking Beyond Syntactical Meaning.</h2>
		</header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/new-zealand/">New Zealand</a></li>
				<li><a href="http://photos.theschultzfam.com/">Photos</a></li>
			</ul>
		</nav>
		<div id="content">
{{ content }}
		</div>
		<div id="sidebar">
			<h2>Michael J. Schultz</h2>
			<address>email: mjschultz{at}gmail{dot}com</address>
			<p class="center"><img src="http://www.gravatar.com/avatar/b5abd40275d296984f1c22d5fca33041?s=120" /></p>
			<p>I am currently a Ph.D. student in <a href="http://cse.wustl.edu/">Computer Science</a> at <a href="http://www.wustl.edu/">Washington University in Saint Louis</a>.  My interests are in systems (networking, operating, distributed), programming languages, and good clean code.  My favorite languages are C and Python.  I'd take vi over emacs any day.</p>
			<h3>Recent Posts<a href="/atom.xml"><img src="/static/atom.png" alt="atom feed" /></a></h3>
			<ul id="recent">
				{% for post in site.posts limit:10 %}
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
				<li><a href="/archive.html">Older...</a></li>
			</ul>
			<h3>Fellows</h3>
			<ul>
				<li><a href="http://encephalosponge.com/">Encephalosponge</a></li>
				<li><a href="http://www.gemberdesign.com/">Gember Design</a></li>
				<li><a href="http://sadiejean.wordpress.com/">Sadie-Jean’s Book Blog</a></li>
				<li><a href="http://blog.lundscape.com/">The Linux Journey</a></li>
			</ul>
			<h3>Social</h3>
			<ul>
				<li><a href="https://github.com/mjschultz">GitHub</a></li>
				<li><a href="http://twitter.com/the_mjschultz">Twitter</a></li>
				<li><a href="http://facebook.com/mjschultz">Facebook</a></li>
				<li><a href="http://stackoverflow.com/users/288349">Stack Overflow</a></li>
				<li><a href="http://reddit.com/user/mjschultz">Reddit</a></li>
			</ul>
			{% unless page.exclude contains 'ads' %}
			<div class="center">
				<script type="text/javascript"><!--
					google_ad_client = "ca-pub-1780644939403817";
					/* Sidebar Ad */
					google_ad_slot = "0856287461";
					google_ad_width = 160;
					google_ad_height = 90;
					//-->
				</script>
				<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
			</div>
			{% endif %}
		</div>
		<footer>
			<p class="center">&copy; <a href="http://www.beyond-syntax.com/">Michael J. Schultz</a> under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</p>
		</footer>
	</body>
</html>
